* {
    box-sizing: border-box;
}

body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    margin: 0;
    font-family: Nunito, sans-serif;
}

main,
header {
    background-color: var(--background-color);
    color: var(--text-color);
    --shimmer-color-one: #e8e3e3;
    --shimmer-color-two: white;
}

main.dark,
header.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
    --shimmer-color-one: hsl(209, 23%, 22%);
    --shimmer-color-two: hsl(207, 26%, 17%);
}

main {
    padding: 24px;
    min-height: calc(100vh - 72px);
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header-container {
    height: 72px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
    background-color: var(--elements-color);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.title {
    font-weight: 800;
}

.theme-changer {
    cursor: pointer;
}

#moon-icon {
    display: block;
}

#sun-icon {
    display: none;
}

.countries-container {
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: space-between;
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
    /* background-color: var(--shimmer-color-two); */
}

.shimmer-card {
    height: 364px;
    position: relative;
    border: 1px solid rgb(207, 203, 203);
    pointer-events: none;
    background: linear-gradient(-45deg, var(--shimmer-color-two) 40%, var(--shimmer-color-one) 50%, var(--shimmer-color-two) 60%);
    background-size: 400%;
    background-position-x: 100%;
    animation: shimmer 1.5s infinite linear;
}

.shimmer-img {
    background-color: hsl(220, 3%, 78%);
    height: 180px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.shimmer-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--shimmer-color-one) 40%, var(--shimmer-color-two) 50%, var(--shimmer-color-one) 60%);
    background-size: 400%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    z-index: 1;
    opacity: 0.5;
}

.shimmer-heading {
    background-color: hsl(220, 3%, 78%);
    width: 220px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    position: relative;
}

.shimmer-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--shimmer-color-one) 40%, var(--shimmer-color-two) 50%, var(--shimmer-color-one) 60%);
    background-size: 400%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    z-index: 1;
    opacity: 0.5;
    border-radius: 20px;
}

.shimmer-text {
    background-color: hsl(220, 3%, 78%);
    width: 220px;
    height: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
}

.shimmer-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--shimmer-color-one) 40%, var(--shimmer-color-two) 50%, var(--shimmer-color-one) 60%);
    background-size: 400%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    z-index: 1;
    opacity: 0.5;
    border-radius: 10px;
}

@keyframes shimmer {
    100% {
        background-position-x: -100%;
    }
}


.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}

.country-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.search-filter-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.search-container {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    width: 100%;
    border-radius: 4px;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.search-container input {
    border: none;
    outline: none;
    padding: 16px;
    width: 90%;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

.search-container input::placeholder {
    color: #999;
}

.filter-by-region {
    width: 250px;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--elements-color);
    color: var(--text-color);
    font-family: inherit;
}

@media(max-width: 768px) {
    .countries-container {
        justify-content: center;
    }

    .title {
        font-size: 16px;
    }

    .header-content p {
        font-size: 12px;
    }

    .search-filter-container {
        flex-direction: column;
    }

    .header-content {
        padding-top: 11px;
    }
}