.error-component-div {
    display: grid;
    margin-inline: 100px;
    border-radius: 10px;
    margin-top: 10px;
    color: black;    
}

.error-component-div.dark {
    display: grid;
    margin-inline: 100px;
    color: white;
}

.error-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#flag-icon {
    display: block;
}

.error-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}